<h2>Registro de Cita</h2>
<form method="POST">
  Especialidad: <input type="text" name="especialidad"><br>
  Médico: <input type="text" name="medico"><br>
  DNI Paciente: <input type="text" name="dni_paciente"><br>
  Paciente: <input type="text" name="paciente"><br>
  Centro de Salud: <input type="text" name="centro_salud"><br>
  Consultorio: <input type="text" name="consultorio"><br>
  Estado: <input type="text" name="estado"><br>
  <button type="submit">Registrar</button>
  
  <hr/>
  <a href="http://127.0.0.1:8888/">volver</a> 

  <br/>
</form>
